{% extends "base.html" %}
{% load static %}

{% block container %}
<header class="masthead">
  <div class="container">
    <div class="row g-3 ">
      <div class="col-sm-6 offset-3">
        <h4>Start a new registration</h4>
        <form class="" action="" method="POST" >
          {% csrf_token %}


          {% for field in form %}
          <div class="mb-2">
            {{field.label_tag}}
            {{field}}
            {{field.help_text}}
          </div>
          {% endfor %}

          <div>
            <input type="button"  class="btn btn-success"
              value="Register">
          </div>

        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
